
/*Bangla Font Support*/
body {
	font-family: 'solaimanlipi';
	font-size: 1.2rem;
	width: 100%;
	height: 100%;
}

@font-face {    
    src: url('../banglafont/solaimanlipi.eot');
    src: url('../banglafont/solaimanlipi.eot?#iefix') format('embedded-opentype'),
         url('../banglafont/solaimanlipi.woff') format('woff'),
         url('../banglafont/solaimanlipi.ttf') format('truetype'),
         url('../banglafont/solaimanlipi.svg#solaimanlipinormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fix{
	clear: both;
}
/*
For Responsive Design - if necessary
====================================
*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*Menubar*/
.club_menu{
	min-height: 2.8em;
	background-color: rgba(126, 1, 156, 0.95);
}
.club_menu nav {
	min-height: inherit;
}

/*Promo image and text*/
.club_promo_image{
	background-image: url(../img/bg.gif);
	min-height: 90vh;
	opacity: 0.9;
	margin-top: 1%;
}
.club_promo_text{
	padding: 10%;
	color: white;
	}

.ict_club_slogan{
	margin-top: 5%;
	color: white;
}

/*Information Bar*/
.infobar{
	min-height: 1em;
	font-size: 2rem;
	padding: 2%;
	float: left;
	text-align: center;
	color: #673AB7;
	background-color: rgba(255, 255, 0, 0.47);
}
.inforow{
	width: 100%;
	min-height: 7.7em;
	display: block;
}
.infobar:hover{
	background-color: #673AB7;
	color: white;
}

/*Video and text div*/
.video_row{
	width: 100%;
	min-height: 22em;
	padding: 5% 2%;
}

.video_text{
	float: left;
	text-align: center;
	padding: 4%;
	height: 100%;
	background-color: rgba(7, 51, 138, 0.67);
	width: 90%;
	font-size: 1.7rem;
	color: white;
	margin: 2%;
}
.video_text h1 {color: yellow;}
.video_text p {	
}
.video_link{
	float: right;
	margin: 2%;
	width: 90%;
}

/*LeaderBoard div*/
.leaderboard_wrapper{
	width: 100%;
	min-height: 34em;
}
.leaderboard_head{
	padding: 2%;
	text-align: center;
	color: #FF5722;
	background-color: rgba(21, 175, 17, 0.25);
}
.leaderboard_block{
	float: left;
	align-items: center;
	padding: 2%;
	background-color: rgba(21, 175, 17, 0.25);
}
.leaderboard_image{
    width: 100%;
}
.leaderboard_image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-width: 80%;
}
.leaderboard_button{
	width: 100%;
	text-align: center;
}
.leaderboard_button a {
	width: 80%;
}

/*Copyright div*/
.copyright{
	background-color: #673AB7;
	height: auto;
	text-align: center;
	color: wheat;
	font-size: 1.2em;
}
